.product{
    display: flex;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-bottom: 10px;
    margin-right: 10px;

    padding-bottom: 5px;
}
.product-name{
    color: rgb(14, 29, 238);
    font-weight: 400;
}
.main-button{
    background-color: goldenrod;
    width:150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}